#app {
    height: 85vh;
    padding: 20px 0px;
    h1 {
        color: white;
        text-align: center;
        font-family: monospace;
        margin-bottom: 40px;
    
    }
    input {
        border-radius: 20px;
        display: block;
        width: 210px;
        height: 25px;
        padding: 0 30px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-family: monospace;
        &:focus {
            transform: scale(1.02);
        }
    }
    .card {
        background-color: white;
        border: 1px solid #7eb1be;
        box-shadow: 10px 10px 30px rgba(0, 0, 80, 0.5);
        border-radius: 5px;
        padding: 40px;
        width: 300px;
        max-width: 500px;
        min-height: 300px;
        #name {
            font-family: monospace;
            margin-top: 0;
            letter-spacing: 3px;
            text-align: center;
        }
        #pic {
            width: 200px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
            &:hover {
                transform: scale(1.02);
            }
        }
        #desc {
            font-family: sans-serif;
            text-align: center;
        }
    }
}